<header>
    <div class="row">
        <div class="small-3 columns">
            <div class="logo">
              <a href="//handsontable.com/docs">
                  <svg class="handsontable-logo">
                      <use xlink:href="#handsontable-logo"></use>
                  </svg>
                  <span>Documentation</span>
              </a>
          </div>
        </div>

        <div class="small-9 columns text-right">
            <nav class="mobile-inactive">
                <a href="#" id="mobile-nav-menu">
                    <svg>
                        <use xlink:href="#open-mobile-nav"></use>
                    </svg>
                </a>
                <ul>
                    <li class="mobile-only"><a href="//handsontable.com">Home</a></li>
                    <li><a href="//handsontable.com/docs">Docs</a></li>
                    <li><a href="//handsontable.com/download">Download</a></li>
                    <li><a href="//handsontable.com/pricing">Pricing</a></li>
                    <li><a href="//github.com/handsontable/handsontable" target="_blank">GitHub</a></li>
                    <li><a href="//my.handsontable.com/sign-in">Sign in</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
