<!DOCTYPE html>
<html>
<head>
  <?js= this.partial('analytics-pre.tmpl', this) ?>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title><?js= title ?> - Handsontable Documentation</title>
  <?js= this.partial('head.tmpl', this) ?>
</head>

<body>

  <?js= this.partial('analytics-post.tmpl', this) ?>
  <?js= this.partial('svg.tmpl', this) ?>
  <?js= this.partial('header.tmpl', this) ?>

  <div id="wrapper">
    <div class="row large-collapse">
      <div class="small-12 medium-4 large-3 columns">

          <?js= this.partial('navigation.tmpl', this) ?>

      </div>
      <div class="small-12 medium-6 large-7 medium-offset-1 end columns">
        <div class="main">
          <div class="breadcrumbs"></div>

          <?js= content ?>
          <?js= this.partial('footer.tmpl', this) ?>

        </div>
      </div>
    </div>
  </div>

  <?js= this.partial('scripts.tmpl', this) ?>
  <span class="page-title" data-filename="<?js= filename.replace('tutorial-','') ?>"><?js= title ?></span>

</body>
</html>
